h1 {
  color: navy;
  font-family: Garamond;
  font-size: 36px;
  font-weight: bold;
}

article {
  padding: 5px 30px;
  font-family: 'Hind', sans-serif;

}

body {
  font-size: 18px;
  font-family: Arial;
}

figure {
  margin: 5px 0;
}
figcaption {
  color: gray;
  font-size: 14px;
  font-style: italic;
  padding: 0 15px;
}

.byline {
  font-size: 16px;
  font-weight: bold;
}

img {
  min-width: inherit;
  max-width: 100%;
}

.dateline {
  font-size: 14px;
  text-transform: uppercase;
}
